*.class

# Package Files #
*.jar
*.war
*.ear

local_*.yml

*.iml
.idea

target
.project
.classpath
.settings

tmp/*

BaragonUI/npm-debug.log
BaragonUI/node_modules/*
BaragonUI/node/*
BaragonUI/bower_components/*
BaragonUI/brunchlog
BaragonUI/app/env.coffee
BaragonUI/.vee

docker/configs/*

_book
node_modules