@import colors

.detail-header

    h1, h2, h3, h4, h5
        margin-top 0
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        position relative
        .btn.copy-link
            background #fff
            &:hover, &:focus
                text-decoration none
            &:focus
                outline none

    .button-container
        text-align right
        .btn
            margin-bottom 5px
