@import colors

.table, table
    tbody
        font-size 13px
    th
        vertical-align top
        td
            padding 10px
    tr.flash td
        background rgba(0, 200, 20, .15) !important

    th, td
        &.actions-column
            white-space nowrap
            text-align right
            a
                margin-left 10px
        &.actions-column
            padding-top 0
            padding-bottom 0
            padding-right 0
            font-size 0
            [title='JSON'], [data-original-title="JSON"]
                font-weight 500

            a
                position relative
                overflow hidden
                padding 0 12px
                display inline-block
                background transparent
                text-decoration none
                font-size 13px
                line-height 35px
                margin 0

                &:hover
                    color $white
                    background $linkBlue
                    box-shadow 0 -1px $linkBlue
                    text-decoration none

                &[data-action="remove"]:hover
                    background $red
                    box-shadow 0 -1px $red

    tr:last-child td.actions-column a
        margin-bottom -8px

table th
    text-align left

.empty-table-message
    text-align center
    border 3px dashed $lightestGrey
    padding 2.5em
    color $lighterGrey
    font-size 1.3em
    font-weight 300
    letter-spacing .03em

    p:last-child
        margin-bottom 0

.active
    color $green
.inactive
    color $orange
