<h2>Current Services</h2>
{{#if synced}}
    <div class="row">
        <div class="col-md-12">
            <div id="elbsTable">
        </div>
    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
