<h2>Current Services</h2>
{{#if synced}}
    <div class="row">
        <div class="col-md-12">
            <input type="search" class="big-search-box" placeholder="Filter services" value="{{ searchFilter }}" required />
        </div>
        <div class="col-md-12">
            <div id="servicesTable">
        </div>
    </div>
{{else}}
    <div class="page-loader centered cushy"></div>
{{/if}}
