<div id="api-root-prompt-message">
    <p>
        Hi there! I see you're running BaragonUI through Brunch.
        You must be trying to use a <strong>remote API</strong>.
    </p>

    <p>
        You need to specify an <strong>API root</strong> so BaragonUI knows where to get its data,
        e.g. <code>http://example/baragon/</code>.
    </p>

    <p>
        You can also specify an <strong>Auth Key</strong> so that BaragonUI is authorized to access Baragon API data. If one is set this will default to ""
    </p>

    <p>
        This can be changed at any time in the JS console with
        <code>localStorage.setItem(&quot;apiRootOverride&quot;, &quot;http://example/singularity/api&quot;)</code>
    </p>
</div>
