<div id="api-root-prompt-message">
    <p>
        Hi there! I see you're running BaragonUI through Brunch.
        You must be trying to use a <strong>remote API</strong>.
    </p>

    <p>
        You need to specify an <strong>API root</strong> so BaragonUI knows where to get its data,
        e.g. <code>http://example/baragon/</code>.
    </p>

    <p>
        This can be changed at any time in the JS console with
        <code>localStorage.setItem(&quot;apiRootOverride&quot;, &quot;http://example/baragon/v2&quot;)</code>
    </p>

    <p>
        This Baragon API also has auth enabled. You need to specify an <strong>Auth Key</strong> so BaragonUI can access data.
        e.g. <code>test-key</code>.
    </p>

    <p>
        This can be changed at any time in the JS console with
        <code>localStorage.setItem(&quot;authKeyOverride&quot;, &quot;test-key&quot;)</code>
    </p>
</div>
