<p>
    Are you sure you want to remove this base path?
</p>

<pre>{{ group }} : {{ basePath }}</pre>

<p>
    Removing a base path will only remove the lock associated with that base path for Baragon requests. It will not alter the load balancer configuration in any way.
</p>
