<p>
    Are you sure you want to delete this known agent?
</p>

<pre>{{ groupId}} : {{ agentId }}</pre>

<p>
    Deleting a known agent will remove it from the list of known agents for this load balancer group. It will NOT remove it from the list of active agents.
</p>
