<p>
    Are you sure you want to remove all upstreams for this service?
</p>

<pre>{{ serviceId }}</pre>

<p>
    This will post a new request to remove all of the current upstreams for a service. This will effectively 'undo' the request by creating empty config files.
</p>
