<p>
    The remove request has been submitted
</p>


<p>
    Baragon is now processing the request and the upstream(s) should be removed in a moment. You can see the request status at:
<a href="{{ config.appRoot}}/requests/{{ request }}">
    <pre>{{ request }}</pre>
</a>

</p>
