<p>
    Are you sure you want to remove this upstream?
</p>

<pre>{{ upstream }}</pre>

<p>This will post a new request to remove this upstream from the nginx config. It will not alter any other upstreams or options.</p>
