<p>
    The relaod request has been submitted
</p>


<p>
    Baragon is now processing the reload request. You can see the request status at:

<a href="{{ config.appRoot }}/requests/{{ request }}">
    <pre>{{ request }}</pre>
</a>

</p>
