<p>
    Are you sure you want to delete this service?
</p>

<pre>{{ serviceId }}</pre>

<p>
    Deleting a service will remove the entry from Baragon's state node as well as clearing the locks on any associated base paths. It will NOT remove the config files from the server.
</p>
