<p>
    Are you sure you want to reload configs this service?
</p>

<pre>{{ serviceId }}</pre>

<p>
    Initiating a reload will cause the agents in each load balancer group associated with the service to reload it's config after checking validity.
</p>
