<p>
    Are you sure you want to delete this service?
</p>

<pre>{{ serviceId }}</pre>

<p>
    Deleting a service will remove the entry from Baragon's state node as well as clearing the locks on any associated base paths. It will also remove the configs from the load balancer (they will be backed up for reference).
</p>
