<p>
    Please specify a traffice source id (ie. elb load balancer name)
</p>

<p>
    Adding a traffice source will cause Baragon to sync active agents in this group with the specified traffic source.
</p>
