<p>
    Are you sure you want to delete this traffic source?
</p>

<pre>{{ source }}</pre>

<p>
    Deleting a traffic source means that Baragon will no longer sync active agents with the specified traffic source.
</p>
