<div id="api-root-prompt-message">
    <p>
        This Baragon API has auth enabled. You need to specify an <strong>Auth Key</strong> in order to initiate any actions.
        e.g. <code>test-key</code>.
    </p>

    <p>
        This can be changed at any time in the JS console with
        <code>localStorage.setItem(&quot;baragonAuthKey&quot;, &quot;test-key&quot;)</code>
    </p>
</div>
