<p>
    Please specify the new target agent count
</p>

<p>
    If <code>enforceTargetAgentCount</code> is specified in your Baragon Service config, requests will not be allowed to process if there are less agents than the target amount.
</p>
