# This config is auto-managed by Baragon, your changes may be lost!
# Service: {{serviceInfo.name}}-{{serviceInfo.id}}
# Route: {{serviceInfo.route}}
# Contact: {{serviceInfo.contactEmail}}

upstream {{serviceInfo.name}}~{{serviceInfo.id}} {
{{#upstreams}}
    server {{.}};
{{/upstreams}}
}